<div class="contact_me">
  <!-- <h1 class='center'> Contact Us   </h1> -->

   <h2 class='center-text center'> Write your message below </h2>
   <%= form_for @message , url: contact_send_url, html: {class: 'contact_form'} do |f| %>
     <%= f.text_area :body %>
     <table class="contact_me">
       <tr>
         <td> Full Name

         </td>
         <td> Email Address

         </td>
         <td>

         </td>
       </tr>
       <tr>
         <td>
           <%= f.text_field :from %>
         </td>
         <td>
           <%= f.text_field :email %>
         </td>
         <td>
           <%= f.submit 'Send message' %> <a id='cancel' href='javascript:void(0)'> Cancel </a>
         </td>
       </tr>
     </table>
   <% end %>
</div> <!-- contact_me -->
