<div class="header">
  <%= image_tag 'randall_logo4.png', alt:'Randall Coding', id:'logo' %>
  <div class="h1"> <h1> Web Development & SEO </h1>  </div>

  <div class="nav-container">
    <a href="<%=portfolio_url%>"> <div class="nav-item" > Portfolio </div> </a>
    <a href="<%=portfolio_url%>"> <div class="nav-item" href="<%=aboutme_url%>"> About Me </div>  </a>
    <a href="https://github.com/randall-coding" target="_blank"> <div class="nav-item"> Github </div>  </a>
    <a href=href="<%=contact_me_url%>"> <div class="nav-item" > Contact Me </div>  </a>
  </div>

</div>
