<!DOCTYPE HTML>


<html>
  <head>
  </head>

  <body>

    <!-- <h1> Randall Coding: brief portfolio  </h1>  <%= link_to '(github)' , 'https://github.com/randall-coding' %> -->


    <div class='div_main'>
      <%= image_tag 'randall_logo4.png', alt:'Randall Coding', id:'logo' %>
      <h2> Ruby on Rails projects </h2>
      <ul>
        <li>
          <div class="div_description">
            <h3> <%= link_to 'Elite Bank website', 'https://elitebank-randallcoding.herokuapp.com' %> </h3>
                <!-- <%= link_to '(site)' , 'https://elitebank-randallcoding.herokuapp.com' %> -->
            <br>
            <p> Simple RoR project based on a banking website. Makes use of REST framework,Postgres database, admin account / authorization, CRUD model, and is deployed on Heroku.
               <b> <i> Get started by logging in as "admin" with password "p". </b> </i> <p>
            <%= link_to image_tag('elite2.png' , class: 'portfolio'), 'https://elitebank-randallcoding.herokuapp.com/' %>
            <p> Once logged in, view customer profiles, edit customers or delete. </p>
            <p> Log in as an individual customer using their first name as username and password simply "p". </p>
          </div>
        </li>
      </ul>
        <div class='div_right'>
        <%= image_tag 'cartoon.png', alt: 'profile picture',class: 'profile' %>
        <p>  Hi all.  Ruby on Rails enthusiast, with background in scientific research.
             I am a native born US citizen with a passion for web design and programming.
        </p>
        <p> <b> <center> Overview of my skills: </center> </b>
        <br> Experience building RoR (Ruby on Rails) web apps.  See my git repository below.
        <br><br> Implementation of Stripe payment processing in RoR apps.
        <br><br> Experience using MATLAB and C++ for computation of data sets.
        <br><br> Bachelors in Chemistry University of California in Merced.
        <br><br> Graduate work in computer science performed at Columbus State University
        <br><br> Experience performing scientific research, reading research papers, and writing technical
              papers </li>
        </p>
      </ul>

      </div>
    </div>
  </body>

</html>
