    <!DOCTYPE HTML>
    <html lang="en">
      <head>
        <%= stylesheet_link_tag 'main' %>
        <%= favicon_link_tag 'cartoon.ico' %>
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title> Randall Coding | Ruby on Rails Freelancer For Hire </title>
        <meta name="description" content="Randall's professional portfolio page.
            Ruby on Rails specialist and freelance full stack developer for hire.  I work 100% remotely and am top rated in my field. Javascript junky and SEO optimizer.  USA based web designer delivering quality content on demand. US citizens, local to Phoenix Arizona.  Randall Coding LLC.">
        <% if Rails.env == "production" %>
          <!-- Matomo -->
          <script type="text/javascript"> var _paq = _paq || []; /* tracker methods like "setCustomDimension" should be called before "trackPageView" */ _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="https://randallcoding.matomo.cloud/"; _paq.push(['setTrackerUrl', u+'piwik.php']); _paq.push(['setSiteId', '1']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/randallcoding.matomo.cloud/piwik.js'; s.parentNode.insertBefore(g,s); })(); </script>
          <!-- End Matomo Code -->
        <% end %>
      </head>

      <body>
        
      <!-- Main content area -->
        <div class='page'>
          <%= render 'header' %>
          <div class="content pt-3">
            <%= render 'portfolio' %>
          </div>
        </div>
        <!-- end Main content area -->

        <!-- Contact window and mask -->
        <div class="contact_window" id='contact_window'>
              <%= render 'contact' %>
        </div>
        <div class="mask">
        </div>
        <!-- end Contact window and mask -->

      </body>
    </html>
