<div class="col-md-6 col-xl-3 p-2">
  <div class="card riser">
    <div class="portfolio_item shadow px-2" data-id="<%=item.id%>">
      <%= image_tag(item.logo + '_logo.png' , class: ' framework mb-2 d-block mx-auto  ' + item.css_class, alt:'framework used') %>
      <h3 class="<%= "mb-2" + " " + item.css_class%>"> <%=item.title %> </h3>

      <div class="description">
        <p> <%= raw item.description %> </p>
      </div>

      <%= image_tag item.image_url, class: 'border card-img-bottom w-100 portfolio_active', alt:'portfolio image of website'%>
    </div>
  </div>
</div>
