<!DOCTYPE html>
<html>
  <head>
    <meta name="msvalidate.01" content="92C78E078629CD3A8121CC16E04A004C" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'aboutme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
